.toast-message {
    background-color: darkblue;
    color: #fff;
    font-size: 20px;
    padding: 30px 20px;
}

.gradient-custom {
    /* fallback for old browsers */
    background: #6a11cb;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(144deg,#af40ff,#5b42f3 50%,#00ddeb);
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(144deg,#af40ff,#5b42f3 50%,#00ddeb)
    }

.gradient-custom-2 {
    /* fallback for old browsers */
    background: #fccb90;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
    }

    @media (min-width: 769px) {
        .gradient-custom-2 {
        border-top-right-radius: .3rem;
        border-bottom-right-radius: .3rem;
        }
    }

    .cardcus {
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #ececf6!important;
        background-clip: border-box;
        /* border: 2px solid #000000e8; */
        /* border-radius: 20px; */
      }

    .table {
        background-color: white;
        border: 2px;
    }
    .parent {
        width: 100vw;
        /* additional style */
        display: flex;
        justify-content: center;
        align-items: center;
    }
        @media (max-width: 905px) {
            .parent {
                display: flex;
                justify-content: center;
                align-items: inherit;
            }
        }
    
    .child {
        background-color: #f7ccac;
    }
    
    .chart {
        margin: 20px;
        max-width: 700px;
      }

    .has-search .form-control {
        padding-left: 2.375rem;
    }
    
    .has-search .form-control-feedback {
        position: absolute;
        z-index: 2;
        display: block;
        width: 2.375rem;
        height: 2.375rem;
        line-height: 2.375rem;
        text-align: center;
        pointer-events: none;
        margin-top: 0.3rem;
    }

    .main {
        margin-top: 79px;
        min-height: 700px;
    }
    @media (max-width: 992px) {
        .main {
            margin-top: 77px;
        }
    }


    .cus-col-lg-2 {
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }

    .img-load, .img-load1 {
        height: 326.46px;
    }
    .img-load2 {
        height: 253.39px;
    }
    .img-load3 {
        height: 204.46px;
    }

    @media (max-width: 1199.98px) {
        .img-load, .img-load1 {
            height: 268.76px;
        }
        .img-load2 {
            height: 207px;
        }
    }
    
    @media (max-width: 991.98px) {
        .img-load {
            height: 191.85px;
        }
        .img-load1 {
            height: 422.63px;
        }
        .img-load2 {
            height: 145px;
        }
        .img-load3 {
            height: 409.6px;
        }
    }
    
    @media (max-width: 767.98px) {
        .img-load {
            height: 653.39px;
        }
        .img-load1 {
            height: 307.24px;
        }
        .img-load2 {
            height: 99.54px;
        }
    }
    
    @media (max-width: 575.98px) {
        .img-load, .img-load1 {
            height: 580.56px;
        }
        .img-load2 {
            height: 92.98px;
        }
    }

    .toast-position {
        margin-bottom: 4rem !important;
        z-index: 9999;
      }