.hide {
    display: none;
}
.gallery-wrap .img-big-wrap {
    margin-bottom: 10px;
    border-radius: 0.37rem;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.562);
  }
  .gallery-wrap .img-big-wrap a {
    text-align: center;
    display: block;
  }
  .gallery-wrap .img-big-wrap img {
    height: 450px;
    width: auto;
    display: inline-block;
  }
  .gallery-wrap .thumbs-wrap {
    text-align: center;
    margin-bottom: 20px;
  }
  .gallery-wrap .thumbs-wrap .item-thumb {
    width: 87.5px;
    height: 112px;
    border: 1px solid #ddd;
    border-radius: 6px;
    margin: 3px;
    display: inline-block;
    overflow: hidden;
  }
  .gallery-wrap .thumbs-wrap img {
    max-width: 100%;
    max-height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 4px;
  }
  .gallery-wrap .thumbs-wrap img:hover {
    -webkit-filter: brightness(1.1);
            filter: brightness(1.1);
  }
  
  .item-option-select {
    margin-bottom: 1rem;
    display: inline-block;
    margin-right: 15px;
  }
  .item-option-select .btn {
    min-width: 80px;
  }

  
  /* CSS */
  .button-63 {
    align-items: center;
    background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-family: Phantomsans, sans-serif;
    font-size: 20px;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 140px;
    padding: 19px 24px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
  }
  
  .button-63:active,
  .button-63:hover {
    outline: 0;
    background-image: linear-gradient(144deg,#00DDEB, #5B42F3 50%,#AF40FF);
  }
  
  @media (min-width: 768px) {
    .button-63 {
      font-size: 24px;
      min-width: 196px;
    }
  }

  .status {
    text-align: center;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: .5px;
  }

  .box-shadow {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;  
  }

  .button-1 {
    background: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 16px;
    min-height: 40px;
    outline: 0;
    padding: 12px 14px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
  }
  
  .button-1:hover,
  .button-1:active {
    background-color: initial;
    background-position: 0 0;
    color: #00DDEB
  }
  
  .button-1:active {
    opacity: .5;
  }

  .button-2 {
    background: #33ccff;
    border: 1px solid #33ccff;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 14px;
    min-height: 38px;
    /* min-height: 40px; */
    outline: 0;
    padding: 12px 14px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
  }
  
  .button-2:hover,
  .button-2:active {
    background-color: initial;
    background-position: 0 0;
    color: #00DDEB
  }
  
  .button-2:active {
    opacity: .5;
  }